* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: var(--branco-principal);
    font-size: 18px;
    background: linear-gradient(to right, var(--branco-principal) 0%,
    var(--azul-mais-claro) 100%);
}

:root {
    --branco-principal: #FFF7E9;
    --laranja: #ff4827;
    --azul-escuro: #1746a3;
    --azul-claro: #5F9DF7;
    --azul-mais-claro: #a1c7ff;
    --cinza: #3c3c3c;
}

.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: var(--laranja);
    box-shadow: 2px 2px 12px var(--azul-escuro);
}

.nav__logo img{
    height: 60px;
}

.nav__lista a{
    text-decoration: none;
    margin-left: 1em;
    color: var(--branco-principal);
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--branco-principal);
}

.nav__buttons a{
    text-decoration: none;
    padding: .5em;
    background: var(--branco-principal);
    border-radius: 8px;
    color: var(--azul-escuro);
    font-weight: 500;
    letter-spacing: 2px;
}

.news-wrap {
    width: 100%;
}

.news {
    position: absolute;
    width: 100vw;
    height: 80vh;
    top: 110px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px 250px;
    grid-template-areas:
        "img img box"
        "text1 text2 box";
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    justify-content: center;
    align-content: center;
}

.news__img {
    grid-area: img;
}

.news__img img {
    width: 100%;
}

.news__title {
    grid-area: text1;
}

.news__title h1 {
    font-size: 70px;
    font-weight: 700;
}

.news__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: text2;
}

.news__txt p {
    font-weight: 500;
}

.news__txt a {
    text-decoration: none;
    color: var(--laranja);
    padding: 1em;
    background: var(--cinza);
    width: fit-content;
    font-weight: 700;
}


.news__card-wrapper {
    background: var(--cinza);
    grid-area: box;
}

