* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: var(--branco-principal);
    font-size: 20px;
    background: linear-gradient(to right, var(--branco-principal) 0%,
    var(--azul-mais-claro) 100%);
}

:root {
    --branco-principal: #FFF7E9;
    --laranja: #FF731D;
    --azul-escuro: #1746a3;
    --azul-claro: #5F9DF7;
    --azul-mais-claro: #a1c7ff;
    --cinza: #3c3c3c;
}

.navbar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: var(--cinza);
    box-shadow: 2px 2px 12px var(--azul-escuro);
}

.nav__logo img{
    height: 60px;
}

.nav__lista a{
    text-decoration: none;
    margin-left: 1em;
    color: var(--branco-principal);
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--branco-principal);
}

.nav__buttons a{
    text-decoration: none;
    padding: .5em;
    background: var(--branco-principal);
    border-radius: 8px;
    color: var(--azul-escuro);
    font-weight: 500;
    letter-spacing: 2px;
}

.news {
    position: absolute;
    display: flex;
    width: 100%;
    top: 85px;
}

.news__pack {
    display: flex;
    flex-wrap: wrap;
}

.news__pack-txt {
    display: grid;
}

.news__card-wrapper {
    height: 600px;
    width: 300px;
    background: var(--cinza);
}

