* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    font-family: 'Quicksand', sans-serif;
    background: var(--branco-principal);
    font-size: 18px;

}

:root {
    --branco-principal: #FFF7E9;
    --laranja: #FF8000;
    --azul-escuro: #0a162e;
    --azul-claro: #47C7FC;
    --azul-mais-claro: #c8defe;
    --cinza: #2b2b2b;
}

.navbar {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background: var(--laranja);
    box-shadow: 2px 2px 12px var(--azul-escuro);
}

.nav__logo img{
    height: 60px;
}

.nav__lista a{
    text-decoration: none;
    margin-left: 1em;
    color: var(--azul-escuro);
    font-weight: 500;
    letter-spacing: 2px;
}

.nav__buttons a{
    text-decoration: none;
    padding: .5em;
    background: var(--branco-principal);
    border-radius: 8px;
    color: var(--azul-escuro);
    font-weight: 500;
    letter-spacing: 2px;
}

.news-wrap {
    width: 100%;
}

.news {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px 250px;
    grid-template-areas:
        "img img box"
        "text1 text2 box";
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    justify-content: center;
    align-content: center;
}

.news__img {
    grid-area: img;
}

.news__img img {
    width: 100%;
}

.news__title {
    grid-area: text1;
}

.news__title h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--cinza);
}

.news__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: text2;
}

.news__txt p {
    font-weight: 500;
    color: var(--cinza);
}

.news__txt a {
    text-decoration: none;
    color: var(--laranja);
    padding: 1em;
    background: var(--cinza);
    width: fit-content;
    font-weight: 700;
}


.news__card-wrapper {
    background: var(--cinza);
    grid-area: box;
}

.swiper {
    width: 600px;
    height: 300px;
    position: relative;
    bottom: 50px;
  }